* {
    margin: 0;
    padding: 0;
}

/* shared */
.container {
    margin-left: 150px;
    margin-right: 150px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange {
    color: #E95A08;
}
.bold {
    font-weight: 800;
}
.button {
    width: 260px;
    height: 35px;
    color: white;
    background-color: #E95A08;
    text-align: center;
    margin-bottom: 10px;
    border: none;
}

/* navbar */
nav ul li {
    list-style: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.navbar {
    margin-top: 30px;
    margin-bottom: 120px;
}

/* banner */
.banner-1 {
    margin-top: 160px;
}
.banner-1-title {
    font-size: 65px;
    font-weight: bold;
}
.banner-1-text {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.banner-2 {
    margin-top: 106px;
}

/* plants section */
.plants-section {
    margin-top: 120px;
    margin-bottom: 210px;
}
.plants-section-1 {
    font-size: 50px;
    font-weight: 800;
}
.plants-section-2 {
    font-size: 22px;
    font-weight: 600;
}
.plants-section-1, .plants-section-2 {
    text-align: center;
    margin-bottom: 30px;
}
.plants-section-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 7px;
}
.plants-section-3-img {
    width: 260px;
    height: 300px;
    margin-bottom: 10px;
}
.plants-section-3-text {
    text-align: center;
    margin-bottom: 10px;
}
/* plants-lover */
.plants-lover {
    margin-bottom: 133px;
    height: 597px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.plants-lover-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    line-height: 68px;
}
.plants-lover-list {
    list-style-position: outside;
    padding-left: 20px;
}
.plants-lover-list li {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}
.image-container {
    position: relative;
    display: inline-block;
}
.plants-lover-1 {
    display: block;
}
.badge {
    position: absolute;
    top: -100px;
    right: -70px;
    width: 200px;
    z-index: 20;
}


/* deals */
.deals {
    margin-top: 100px;
}
.deals-title {
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
    
}
.deals-text {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 120px;
}

/* images */
.images {
    margin-bottom: 120px;
}
.image-1 {
    background-image: url("./assets/deal-bloom.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 366px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
}
.image-2 {
    background-image: url("./assets/deal-ana.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 366px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
}
.image-3 {
    background-image: url("./assets/deal-zabo.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 753px;
    height: 423px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
}
.image-tile{
    color: white;
    font-family: Noto Serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}
.group-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.group-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}