* {
    margin: 0;
    padding: 0;
}

/* shared */
.container {
    margin-left: 150px;
    margin-right: 150px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange {
    color: #E95A08;
}
.bold {
    font-weight: 800;
}
.button {
    width: 260px;
    height: 35px;
    color: white;
    background-color: #E95A08;
    text-align: center;
    margin-bottom: 10px;
    border: none;
}

/* navbar */
nav ul li {
    list-style: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.navbar {
    margin-top: 30px;
    margin-bottom: 120px;
}

/* banner */
.banner-1 {
    margin-top: 160px;
}
.banner-1-title {
    font-size: 65px;
    font-weight: bold;
}
.banner-1-text {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.banner-2 {
    margin-top: 106px;
}

/* plants section */
.plants-section {
    margin-top: 120px;
    margin-bottom: 210px;
}
.plants-section-1 {
    font-size: 50px;
    font-weight: 800;
}
.plants-section-2 {
    font-size: 22px;
    font-weight: 600;
}
.plants-section-1, .plants-section-2 {
    text-align: center;
    margin-bottom: 30px;
}
.plants-section-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 7px;
}
.plants-section-3-img {
    width: 260px;
    height: 300px;
    margin-bottom: 10px;
}
.plants-section-3-text {
    text-align: center;
    margin-bottom: 10px;
}